:root {
  --bs-font-sans-serif: 'Montserrat', sans-serif;
  --bs-primary: #000;
  --bs-primary-rgb: 0,0,0;
  --bs-secondary: #555;
  --bs-secondary-rgb: 85,85,85;
  --bs-light: #eee;
  --bs-light-rgb: 220,220,220;
  --bs-body-font-size: 0.925rem;
}
body {
  margin-bottom: 35px; /* Margin bottom by footer height */
}

.small { color:var(--bs-secondary); }

a { color: var(--bs-primary); text-decoration: none; }
a:hover { color: var(--bs-secondary); }
.small a:hover, a.text-secondary:hover { color: var(--bs-primary) !important; }
.track a { color: var(--bs-primary) !important; }

.nav-link { padding: 0.1rem 0; }

.track .badge {
  color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  width: 2.5em;
}

.accordion-button,
.accordion-button:not(.collapsed),
.accordion-button:focus {
  background-color: transparent;
  color: var(--bs-secondary);
  box-shadow:none;
  padding-left: 0 !important;
  margin-left: -10px!important;
}

#share-button, #backtotop-button {
  position: fixed; bottom: 0; padding: 6px 14px;
  color: var(--bs-secondary);}
#share-button {left: 0; background-color: #f5f5f5;}
#backtotop-button {right: 0; background-color: #f5f5f5;}

@media all and (display-mode: standalone) {
  /* Here goes the CSS rules that will only apply if app is running standalone */
  .apphidden { display: none !important; }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px; /* Set the fixed height of the footer here */
  line-height: 35px; /* Vertically center the text there */
  background-color: #f5f5f5;
  font-size: 0.9rem;
}
.footer a {color:var(--bs-secondary)}
.footer img {margin-top:-3px}
